<h2>Crear Vuelo</h2>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label for="FlightNumber">ID Vuelo:</label>
                        <input
                            type="text"
                            id="FlightNumber"
                            formControlName="FlightNumber"
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label for="Date">Fecha: </label>
                        <input
                            type="date"
                            id="Date"
                            formControlName="Date"
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label for="SourceCity">Ciudad Origen: </label>
                        <input
                            type="text"
                            id="SourceCity"
                            formControlName="SourceCity"
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label for="DestinationCity">Ciudad Destino: </label>
                        <input
                            type="text"
                            id="DestinationCity"
                            formControlName="DestinationCity"
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label for="Chairs">Sillas Disponibles: </label>
                        <input
                            type="number"
                            min="1"
                            id="Chairs"
                            formControlName="Chairs"
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <label for="Price">Precio: </label>
                        <input
                            type="number"
                            min="1"
                            id="Price"
                            formControlName="Price"
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button
                        type="submit"
                        class="btn btn-success"
                        [disabled]="!flightForm.valid">Guardar</button>
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>

        </form>
    </div>
</div>